name: "Dispatch Contents Issues Update"

on:
  issue_comment:
  issues:

jobs:
  dispatch-contents-issues-update:
    runs-on: ubuntu-latest

    steps:
      - name: Dispatch Contents Issues Update Event
        if: ${{ github.event.sender.login == 'Yixuan-Wang' }}
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: Yixuan-Wang/blog
          token: ${{ secrets.ACCESS_TOKEN }}
          event-type: contents-issues-update